<h1>Silent Call Online</h1>
<p>Welcome back to the land of Gem</p>

<% if logged_in? %>
  Welcome, <%= current_user.username %>!
  <%= button_to "Logout", '/logout', method: :get%>
<% else %>
  <%= button_to "Login", '/login', method: :get%>
  <%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>